  dl {   position:absolute;width:240px;height:170px;border:10px solid #eee;  }
  dd {   margin:0;width:240px;height:170px;overflow:hidden;  }
  img {     border:1px solid black   }
   dt {   position:absolute;right:3px;top:50px;   }
   a {     display:block;margin:1px;width:20px;height:20px;text-align:center;font:700 12px/20px "ו",sans-serif;color:#fff;text-decoration:none;background:#666;border:1px solid #fff;filter:alpha(opacity=40);opacity:.4;   }
 #a2 a:hover {background:#000}
