input {
	outline:none;
	resize:none;
}
.i {
	border:none;
	vertical-align:middle;
	font:12px/15px Arial,Helvetica,sans-serif;
	background:none;
	float:left;
	width:100px;
}
.c {
	height:26px;
	width:auto;
	background:url(../image/textbox/input.gif) repeat-x 0 0;
	padding:8px 0 0 0;
	margin:0;
	float:left;
	line-height:27px;
}
.l,.r {
	width:10px;
	height:34px;
	vertical-align:middle;
	float:left;
}
.l {
	background:url(../image/textbox/input-left.gif) no-repeat 0 0;
}
.r {
	background:url(../image/textbox/input-right.gif) no-repeat 0 0;
}
.h {
	background-position:0 100%;
}